

.barwidth{
    width: 47%;
    
    margin-top: 5px;

}


.navbar-brand{
    
    margin-right:23rem;
    margin-left: 2rem;

}


.navbar-expand-lg .navbar-nav .nav-link{
    padding-right:5.5rem;
}


.lablemiddle{
margin-left: 5px;
}